<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453604910181-nmu4j466bt6upn3mmhm1i7m9fdn3aldr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453604910181-nmu4j466bt6upn3mmhm1i7m9fdn3aldr</string>
	<key>API_KEY</key>
	<string>AIzaSyAjXmef31aKkIqg3mD3wppiMOdBj-aW2qQ</string>
	<key>GCM_SENDER_ID</key>
	<string>453604910181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.madProject</string>
	<key>PROJECT_ID</key>
	<string>nsbm-test-app-b2959</string>
	<key>STORAGE_BUCKET</key>
	<string>nsbm-test-app-b2959.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453604910181:ios:48b70378144fc8a495928c</string>
</dict>
</plist>